*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.support-page .headerhome {
  background-color: #fff !important;
}
.support-page .headerhome .nav-listh {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-right: 90px !important;
  margin: 0;
  color: #161c2d;
  margin-left: 40px;
}

/* HEADER END */

.logo_titleh a {
  color: #161c2d !important;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
  animation: glowOnce 2s ease;
  text-decoration: none !important;
}
@keyframes glowOnce {
  0% {
    text-shadow: 0 0 0px #fb6c49, 0 0 10px #fb6c49, 0 0 15px #fb6c49;
  }
  100% {
    text-shadow: none;
  }
}

.nav-listh {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0 !important;
  padding-left: 90px !important;
  color: #161c2d;
}
.nav-linkh {
  text-decoration: none;
  color: #161c2d;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 26px;
}

.nav-linkh:hover {
  color: #fb6c49;
}
.navbarh {
  display: flex;
  align-items: center;
}
.btn_containerh {
  display: flex;
  gap: 44px;
  align-items: center;
}
.btn_loginh {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  background: none;
  border: none;
  padding: 6px 10px;
}
/* HEADER END */

/* SUPPORT CONTAINER */
.support_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 109px 470px 0px 470px;
}

.support_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #161c2d;
  margin-bottom: 44px;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.support_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  text-align: center;
}

.support_main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 39px 373px 210px 373px;
  text-align: left !important;
  gap: 42px;
}
.support_main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  margin-bottom: 18px;
  text-align: left !important;
  animation: slideIn 1s ease-in-out;
}

.support_main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  text-align: left !important;
}

.support_main-text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  margin-top: 8px;
  padding-left: 15px;
  text-align: left !important;
}
/* SUPPORT CONTAINER END */

/* FOOTER START */
.footer {
  display: flex;
  background-color: #161c2d;
  height: 496px;
}

.footer_left {
  padding: 122px 101px 165px 254px;
}

.footer_content h2 {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
}

.footer_content p {
  color: #d7d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  width: 274px;
  margin-bottom: 44px;
}

.footer_img {
  display: flex;
  gap: 24px;
  transition: transform 0.3s ease;
}
.footer_img img:hover {
  transform: scale(1.3);
}

.footer_connector {
  display: flex;
  gap: 50px;
  padding-top: 122px;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column.column1 {
  width: 144px;
  height: 206px;
}
.footer-column.column2 {
  width: 125px;
  height: 246px;
}
.footer-column.column3 {
  width: 156px;
  height: 206px;
}
.footer-column.column4 {
  width: 161px;
  height: 166px;
}
.ft_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 26px;
  opacity: 0.65; /* fixed from 65% to 0.65 */
}
.footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer_list a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #d7d8d8;
  text-decoration: none;
  line-height: 40px;
}
.footer_list a:hover {
  color: #fb6c49;
}
/* FOOTER END */
@media screen and (min-width: 1299px) and (max-width: 1599px) {
  .footer_left {
    padding: 122px 50px 165px 200px;
  }
  .footer_connector {
    margin: 0 200px 0 50px;
    gap: 30px;
  }
}
